html, body {
  height: 100%;
  width: 100%;
}

.caixa{
  width: 400px;
  height: 400px;
  margin: 20px;
  margin: 20px auto;
  background: pink;
  border-radius: 100%;
  
}
header{

  font-size: 8vh;
  color: pink;
  font-family: monospace;
  
}
